export(mvdn)
export(mvdn.cov)
export(arr2list)
export(toList)
export(rmatnorm)
export(rmatdata)
export(graph.generate)
importFrom(igraph, sample_pa, sample_smallworld, sample_gnp, get.adjacency)
useDynLib(MVDN, .registration = TRUE)
